{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center">
	<div class="col-md-5">

		<div class="card shadow-sm p-4">
			<h4 class="mb-3 text-center">Change Password</h4>

			<form method="post">
				<!-- Current password -->
				<div class="mb-3 position-relative">
					<label class="form-label">Current Password</label>
					<input type="password" id="password" name="password" class="form-control" required>
					<span onclick="togglePassword('password')"
						style="position:absolute; right:12px; top:38px; cursor:pointer;">
						👁️
					</span>
				</div>

				<!-- New password -->
				<div class="mb-2 position-relative">
					<label class="form-label">New Password</label>
					<input type="password" id="new_password" name="new_password" class="form-control pe-5" required>

					<span onclick="togglePassword('new_password')"
						style="position:absolute; right:12px; top:38px; cursor:pointer;">
						👁️
					</span>
				</div>

				<button class="btn btn-primary w-100 mt-3">
					Update Password
				</button>

			</form>
		</div>

	</div>
</div>


{% endblock %}
